$green: #41d395;
$orange: #e27866;
$blue: #6696e2;
$customBlack: #1c1c1c;

$img01: '../img/pic-1.png';
$img02: '../img/pic-2.png';
$img03: '../img/tab_1_button_u83_selected.svg';
$img04: '../img/tab_2_button_u85_mouseover.svg';
$img05: '../img/tab_3_button_u87_mouseover.svg';
$img06: '../img/leafsx2.png';
$img07: '../img/vegetables.png';
$img08: '../img/shoes.png';
$img09: '../img/avatar.png';

$logo: '../img/cheshire-county-hygiene-services.svg';

$customCursor: '../img/description-cursor-icon-with-shadow-32.png';

$icon01: '../img/facebook-logo@2x.png';
$icon02: '../img/instagram-logo@2x.png';
$icon03: '../img/twitter@2x.png';
$icon04: '../img/pinterest@2x.png';
$icon05: '../img/wifi-solid.svg';
$icon06: '../img/eye-regular.svg';
$icon07: '../img/comment-regular.svg';
$icon08: '../img/award-solid.svg';
$icon09: '../img/leaf.svg';
$icon10: '../img/visa.svg';
$icon11: '../img/wifi-solid-darker.svg';

$divider01: '../img/divider_white_u72@2x.png';
$divider02: '../img/divider-orange.svg';
$divider03: '../img/divider-green.svg';
